.italic {
    font-style: italic;
}

.center {
    text-align: center;
}

h3 {
    font-style: italic;
}

.link {
    color: rgba(58, 53, 53, 0.685)
}

.loc {
    padding: 4px;
}

hr {
    size: 10px;
    width: 500px;
    color: black;
}

.back {
    background-color: rgb(236, 236, 236);
}